.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.stepsLabel {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 30px;
}

.mainForm {
  padding-left: 30px;
}

.regularButton {
  width: 30px;
  height: 30px;
}

.activePage {
  background-color: #1d4a57;
  color: whitesmoke;
  width: 30px;
  height: 30px;
}

.correctAnswer {
  background-color: rgb(37, 150, 84);
}

.wrongAnswer {
  background-color: rgb(190, 106, 106);
}

.leftOut {
  background-color: rgb(212, 228, 142);
}

.mainDiv {
  margin-top: 30px;
  width: 400px;
  /* border: 1px dotted rgb(59, 58, 58); */
}

.inputField {
  border: 1px solid #000;
  border-radius: 5px;
  height: 36px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 300px;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  background: #ececec;
}

.inputField:focus {
  border: 3px solid #5551ff;
}

.labelName {
  font-size: 14px;
  border-radius: 6px;
  line-height: normal;
  padding: 5px 10px;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  height: 36px;
}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.currView {
  display: flex;
  justify-content: space-around;
}

.innerDiv{
  display: flex;
  /* justify-content: center; */
  margin-top: 50px;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}