.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.stepsLabel {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 30px;
}

.mainForm {
  padding-left: 30px;
}

.regularButton {
  width: 30px;
  height: 30px;
}

.activePage {
  background-color: #1d4a57;
  color: whitesmoke;
  width: 30px;
  height: 30px;
}

.correctAnswer{
  background-color: rgb(37, 150, 84);
}

.wrongAnswer{
  background-color: rgb(226, 82, 38);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}